/*PREFERENCES*/
:root {
  --card-max-width: 40em;
  --card-text-align: left;
  --font-size-regular: 22px;
  --font-size-small: 18px;
  --font-family: "Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --img-width: 50%;
  --img-brightness: 1;
  --img-filter: none;
}

/*COLORS*/
.card,
.card.night_mode {
  /* Dark theme only */
  background-color: #171d20;
  --text-fg: #bde6fb;
  --text-fg-faint: #6d8692;
  --text-bg-selected: #6ee1b6;
  --card-bg: #1e2529;
  --card-border: #313e44;
  --card-box-shadow: transparent;
  --divider: #405159;
  --tag-fg: #97abb4;
  --tag-bg: #36434a;
  --tag-fg-active: #cb4b16;
  --tag-bg-active: #eee8d5;
  --tag-border: transparent;
  --tag-border-active: transparent;
  --cloze-fg: #f9d690;
  --cloze-bg: transparent;
  --link-fg: #faa6a3;
  --link-bg: transparent;
  --link-fg-active:#faa6a3 ;
  --link-bg-active: transparent;
  --bold-fg: #ff79c6;
  --italic-fg: #f8ec81;
  --bold-italic-fg: #c9fbbb;
  --underline-fg: #e4a8fa;
}

/*BACKGROUND*/
.card {
  cursor: default;
  padding: 0.5em 0;
}
html:not(.mobile) .card {
  padding: 0.5em;
}
.card::-webkit-scrollbar {
  display: none;
}

/*FLASHCARD*/
.zelk-flashcard {
  background-color: var(--card-bg);
  border-radius: 0.5em;
  border: 1px solid var(--card-border);
  box-shadow: var(--card-box-shadow) 0px 4px 6px;
  color: var(--text-fg);
  font-family: myfont;
  font-size: var(--font-size-regular);
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--card-max-width);
  text-align: var(--card-text-align);
  word-wrap: break-word;
}
.zelk-flashcard ::selection {
  background-color: var(--text-bg-selected);
}

/*FIELDS*/
.zelk-field {
  margin: 2em;
}
.mobile .zelk-field {
  margin: 1em;
}

.zelk-field--back {
  color: var(--text-fg);
  font-size: var(--font-size-small);
}

/*CLOZE*/
.cloze {
  background-color: var(--cloze-bg);
  color: var(--cloze-fg);
}

/*DECK*/
.zelk-deck {
  margin: 2em;
  display: flex;
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
  white-space: nowrap;
}
.mobile .zelk-deck {
  margin: 1em;
}

.zelk-subdeck {
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*TAGS*/
.zelk-tags {
  margin: 2em;
  display: flex;
  flex-flow: row wrap;
  font-size: var(--font-size-small);
}
.mobile .zelk-tags {
  margin: 1em;
}

.zelk-tag {
  all: initial;
  background-color: var(--tag-bg);
  border-radius: 0.25em;
  border: 1px solid var(--tag-border);
  color: var(--tag-fg);
  display: inline;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  margin: 0 0.5em 0.5em 0;
  padding: 0.25em;
  transition: all 0.25s;
  word-break: break-word;
}
.zelk-tag:hover {
  background-color: var(--tag-bg-active);
  border: 1px solid var(--tag-border-active);
  color: var(--tag-fg-active);
  cursor: pointer;
}

/*DIVIDER*/
.zelk-divider {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed var(--divider);
  margin: 1em;
  padding: 0;
}

.zelk-divider--answer {
  border-bottom: 1px solid var(--divider);
}

/*IMAGES*/
img {
  border-radius: 0.25em;
  display: block;
  margin: 1em auto;
  max-width: var(--img-width) !important;
  transition: max-width 0.25s 0.1s, opacity 0.25s 0.1s, filter 0.1s, transform 0s;
}
.night_mode img {
  filter: var(--img-filter);
  opacity: var(--img-brightness);
}
img:hover {
  cursor: zoom-in;
  filter: none;
  max-width: 100% !important;
  opacity: 1;
}
img + br {
  display: none;
}
html:not(.mobile) img:active {
  border: 1px solid var(--link-fg-active);
  cursor: zoom-out;
  filter: none;
  left: 0;
  max-width: 95% !important;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 100;
}

/*TABLES*/
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  max-width: 100%;
}
table thead {
  background-color: var(--text-bg-selected);
}
table tr:nth-of-type(even) {
  background-color: var(--text-bg-selected);
}
table tr:first-child th:first-child {
  border-top-left-radius: 0.5em;
}
table tr:first-child th:last-child {
  border-top-right-radius: 0.5em;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5em;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5em;
}
table th {
  border-bottom: solid 1px var(--card-border);
  border-left: solid 1px var(--card-border);
  border-top: solid 1px var(--card-border);
  padding: 0.5em;
}
table th:last-child {
  border-right: solid 1px var(--card-border);
}
table td {
  border-bottom: solid 1px var(--card-border);
  border-left: solid 1px var(--card-border);
  padding: 0.5em;
}
table td:last-of-type {
  border-right: solid 1px var(--card-border);
}

/*HYPERLINKS*/
a, a:visited {
  text-decoration: none;
  color: var(--link-fg-active);
  border-radius: 0.25em;
  padding: 0 0.1em;
  transition: all 0.1s;
}
a:hover, a:active {
  text-decoration: underline;
  color: var(--link-fg-active);
  background-color: var(--link-bg-active);
}

/*FORMATTING*/
b,
strong {
  color: var(--bold-fg);
}

i,
em {
  color: var(--italic-fg);
}

b > i,
i > b {
  color: var(--bold-italic-fg);
}

u {
  color: var(--underline-fg);
}

pre {
  white-space: normal;
}

/*CUSTOM FONTS*/
@font-face {
  font-family: myfont;
  src: url("_HelveticaNeue.otf");
}



/*END*/
