<!-- zelk by @mowser03: Cloze (Front)

Version: 0.1
github : https://github.com/mowser03/anki-zelk
fork of : https://github.com/pranavdeshai/anki-prettify
-->
<div class="zelk-flashcard">
  <div class="zelk-deck">{{Deck}}</div>
  <div class="zelk-field zelk-field--front">{{edit:cloze:Text}}</div>
  {{#Tags}}
  <div class="zelk-tags">{{clickable:Tags}}</div>
  {{/Tags}}
</div>

<script>
  // Split hierarchical tags
  var tagsContainerEl = document.querySelectorAll('.zelk-tags > *')
  if (tagsContainerEl.length > 0) {
    var tags = []
    tagsContainerEl.forEach((tagEl) => {
      tagEl.classList.add('zelk-tag')
      tags.push(tagEl.innerHTML)
      tags.forEach((tag) => {
        var childTag = tag.split('::').filter(Boolean)
        tagEl.innerHTML = childTag[childTag.length - 1].trim()
      })
    })
  } else {
    tagsContainerEl = document.querySelector('.zelk-tags')
    var tags = tagsContainerEl.innerHTML.split(' ').filter(Boolean)
    var html = ''
    tags.forEach((tag) => {
      var childTag = tag.split('::').filter(Boolean)
      html +=
        "<span class='zelk-tag'>" +
        childTag[childTag.length - 1] +
        '</span>'
    })
    tagsContainerEl.innerHTML = html
  }
</script>

<script>
  // Breadcrumbs to current deck
  var deckEl = document.querySelector('.zelk-deck')
  var subDecks = deckEl.innerHTML.split('::').filter(Boolean)
  html = []
  subDecks.forEach((subDeck) => {
    html.push("<span class='zelk-subdeck'>" + subDeck + '</span>')
  })
  deckEl.innerHTML = html.join('&nbsp;/&nbsp;')
</script>
